<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASAutoResizingTextView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EADC09041C638A0F002FC686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EADC09181C638A10002FC686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EADC09231C638A10002FC686</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
